#search-container {
    /*position: absolute;*/
    /*left: 30%;*/
    width: 100%;
    /*z-index: 2;*/
    /*transition: top 0.2s ease-in-out;*/
}

#search-container > .label {

}

#search-container > .label > .fics {
    color: #CCCCCC;
    font-weight: bold;
}


#search-container > .label > .it {
    color: #da6e09;
    font-weight: bold;
}

#search-container > .label > .quicksearch {
    color: #CCCCCC;
}


#search-container > .search-bar {
    background: #363636;
    border: none;
    outline: none;
    font-size: 1.5em;
    width: 100%;
    height: auto;
    color: #CCCCCC;
    padding: 0.5em;
    box-sizing: border-box;
}

#search-container > .results {
    /*max-height: 15em;*/
}

#search-container > .search-bar:focus {
    border: none;
    outline: none;
}

/*search results*/

.search-result {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(9, 9, 9, 0.9);
    height: 3em;
    box-sizing: border-box;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.search-result > * {
    margin: 0.2em;
}

.search-result > img {
    width: auto;
    height: 90%;
}

.search-result > div:nth-child(2) {
    color: #CCCCCC;
    font-size: 1.2em;
}

.highlighted {
    background-color: #da6e09;
}
